<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/measure"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Ad Suprasellar Cistern
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/figure3.png" class="figure" />
    <div class="ion-padding">
        <p>
            The suprasellar cistern was assessed on coronal post-gadolinium T1-weighted MPR by measuring the distance
            between the inferior surface of the optic chiasm and the superior surface of the pituitary gland.
        </p>
    </div>
</ion-content>