<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/measure"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Suprasellar Cistern
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true">
        <ion-slide>
            <img src="assets/figure3a.jpg" class="figure" />
        </ion-slide>
        <ion-slide>
            <img src="assets/figure3b.jpg" class="figure" />
        </ion-slide>
    </ion-slides>
    <div class="ion-padding">
        <p>
            The suprasellar cistern was assessed on coronal post-gadolinium T1-weighted MPR by measuring the distance
            between the inferior surface of the optic chiasm and the superior surface of the pituitary gland.
        </p>
    </div>
</ion-content>