<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/measure"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Ad Venous Engorgement
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/figure2.png" class="figure" />
    <div class="ion-padding">
        <p>
            Engorgement of the venous sinuses was evaluated on post-gadolinium T1-weighted MPR images based on the shape
            of
            the outer contour of the superior sagittal sinus (SSS) and of the dominant transverse sinus.
        </p>
        <p>
            Under normal circumstances, the inferior border of the middle portion of the transverse sinus and lateral
            border
            of the SSS usually exhibit a concave or straight border, which usually becomes convex in case of
            intracranial
            hypotension.
        </p>
    </div>
</ion-content>