<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Calculate
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Engorgement venous sinus</ion-label>
            <ion-toggle [(ngModel)]="p1"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Pachymeningeal enhancement</ion-label>
            <ion-toggle [(ngModel)]="p2"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Subdural fluid collection</ion-label>
            <ion-toggle [(ngModel)]="p4"></ion-toggle>
        </ion-item>

        <ion-radio-group [(ngModel)]="p3">
            <ion-list-header>
                Suprasellar cistern
            </ion-list-header>
            <ion-item>
              <ion-label>≤ 4.0mm</ion-label>
              <ion-radio [value]="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>> 4.0mm</ion-label>
              <ion-radio [value]="false"></ion-radio>
            </ion-item>
        </ion-radio-group>

        <ion-radio-group [(ngModel)]="p5">
            <ion-list-header>
                Prepontine cistern
            </ion-list-header>
            <ion-item>
              <ion-label>≤ 5.0mm</ion-label>
              <ion-radio [value]="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>> 5.0mm</ion-label>
              <ion-radio [value]="false"></ion-radio>
            </ion-item>
        </ion-radio-group>

        <ion-radio-group [(ngModel)]="p6">
            <ion-list-header>
                Mamillopontine distance
            </ion-list-header>
            <ion-item>
              <ion-label>≤ 6.5mm</ion-label>
              <ion-radio [value]="true"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>> 6.5mm</ion-label>
              <ion-radio [value]="false"></ion-radio>
            </ion-item>
        </ion-radio-group>

    </ion-list>
    <ion-button color="primary" expand="block" (click)="onCalculateClick()">
        <ion-icon slot="start" name="calculator"></ion-icon>
        Calculate score
    </ion-button>
</ion-content>
