<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Calculate
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-item>
            <ion-label>Engorgement venous sinus</ion-label>
            <ion-toggle [(ngModel)]="p1"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Pachymeningeal enhancement</ion-label>
            <ion-toggle [(ngModel)]="p2"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Subdural fluid collection</ion-label>
            <ion-toggle [(ngModel)]="p4"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Suprasellar cistern</ion-label>
            ≤ 4.0mm<ion-toggle [(ngModel)]="p3"></ion-toggle><span>> 4.0mm</span>
        </ion-item>
        <ion-item>
            <ion-label>Prepontine cistern</ion-label>
            ≤ 5.0mm <ion-toggle [(ngModel)]="p5"></ion-toggle><span>> 5.0mm</span>
        </ion-item>
        <ion-item>
            <ion-label>Mamillopontine distance</ion-label>
            ≤ 6.5mm<ion-toggle [(ngModel)]="p6"></ion-toggle><span>> 6.5mm</span>
        </ion-item>
    </ion-list>
    <ion-button color="primary" expand="block" (click)="onCalculateClick()">
        <ion-icon slot="start" name="calculator"></ion-icon>
        Calculate score
    </ion-button>
</ion-content>
