<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/calculate"></ion-back-button>
        </ion-buttons>
        <ion-title>
            SIH Score
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div [ngClass]="level" class="centered fade-in" id="score">
        <div id="score-content">
            <div id="score-content-value">{{score}}</div>
        </div>
    </div>
    <h1 style="text-align: center; padding: 0 1em 2em 1em">
        The probability of a spinal CSF leak is <b style="text-transform: capitalize">{{level}}</b>
    </h1>
    <ion-grid>
        <ion-row style="text-align: center; font-weight: bold">
            <ion-col style="background-color: chartreuse;">
                <h3>Low</h3>
                <p>≤ 2</p>
            </ion-col>
            <ion-col style="background-color:gold;">
                <h3>Intermediate</h3>
                <p>3-4</p>
            </ion-col>
            <ion-col style="background-color:tomato;">
                <h3>High</h3>
                <p>≥ 5</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>