<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Contact
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="wrapper">
        <a href="http://www.neurorad.insel.ch/">
            <img src="assets/contact1.png" class="brain" />
        </a>
        <a href="http://www.neurochirurgie.insel.ch/">
            <img src="assets/contact2.png" class="brain" />
        </a>
        <div class="ion-padding-horizontal">
            <h4>Tomas Dobrocky, MD</h4>
            <h5>Institute of Diagnostic and Interventional Neuroradiology</h5>
            University of Bern<br>
            Inselspital Bern<br>
            Freiburgstrasse 8<br>
            CH-3010, Switzerland <br>
            <br>
            <a href="mailto:tomas.dobrocky@insel.ch">tomas.dobrocky@insel.ch</a>
        </div>
    </div>
</ion-content>