<ion-content>
    <div class="wrapper">
        <img src="assets/insel.png" />
        <img src="assets/intro.png" />
        <img src="assets/contact1.png" />
        <img src="assets/contact2.png" />
        <div style="text-align:justify;" class="ion-padding">
            <p style="color:#000000;font-size:18px;">
                This easy to use, predictive scoring system is based on the six most relevant brain MRI findings and
                allows to assess the likelihood of a spinal Cerebrospinal fluid (CSF) leak in patients with Spontaneous
                intracranial
                hypotension (SIH).
            </p>
        </div>
    </div>
</ion-content>