<ion-tabs>

    <ion-tab-bar slot="bottom">
        <!-- <ion-tab-button tab="intro">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Intro</ion-label>
        </ion-tab-button> -->

        <ion-tab-button tab="calculate">
            <ion-icon name="calculator"></ion-icon>
            <ion-label>Calculate</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="measure">
            <ion-icon name="resize"></ion-icon>
            <ion-label>How to measure</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="terms">
            <ion-icon name="paper"></ion-icon>
            <ion-label>Terms & Conditions</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="contact">
            <ion-icon name="send"></ion-icon>
            <ion-label>Contact</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>