<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/measure"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Dural Enhancement
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/figure1.png" class="figure" />
    <p class="ion-padding">
        Abnormal dural enhancement, was defined as a thickened smooth a diffuse line around both hemispheres was
        assessed on post-gadolinium T1-weighted MPR images.
    </p>
</ion-content>