<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            CSF leaks
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padder="false">
    <div class="ion-padding-horizontal">
        <p>
            This easy to use, predictive scoring system is based on the six most relevant brain
            MRI findings and allows to assess the likelihood of a spinal cerebrospinal fluid (CSF)
            leak in patients with spontaneous intracranial hypotension (SIH). The scoring system
            may help headache specialists objectively predict the probability of an underling
            spinal cerebrspinal fluid leak. It is useful to triage patients who may benefit from more
            invasive myleographic examinations.
        </p>
        <h2>Spontaneous intracranial hypotension</h2>
        <p>
            Spontaneous intracranial hypotension (SIH) is an increasingly recognized disorder
            usually presenting with disabling orthostatic headache, which manifests within
            minutes after assuming the upright position, and subsides after lying down. According
            to the common doctrine SIH is triggered by CSF leakage from the intrathecal into the
            epidural compartment, which is usually due to an osteodiscogenic microspur (calcified
            disc protrusion or spondylophyte) penetrating the dura, or a leaky spinal nerve root
            diverticulum. Imaging plays a crucial role in the diagnostic work-up of SIH patients,
            but many challenges remain, particularly with respect to finding evidence of
            intracranial hypotension on brain MRI, and identifying and localizing a cerebrospinal
            fluid (CSF) leak.
        </p>
        <h2>Manuscript</h2>
        <p>
            The full manuscript has been published in JAMA Neurology in February 2019. <br>
            doi: 10.1001/jamaneurol.2018.4921<br>
            PMID: 30776059
        </p>
        <h3>Authors</h3>
        <p>
            Tomas Dobrocky, MD1 Lorenz Grunder, MD1 Philipe S Breiding, MD1 Mattia Branca, MSc2 Andreas Limacher, PhD 2
            Pascal J Mosimann, MD1 Pasquale Mordasini, MSc1 Felix Zibold, MD1 Levin Haeni, MD3 Christopher M Jesse, MD3
            Christian Fung, MD3,4 Andreas Raabe, MD3 Christian T Ulrich, MD3 Jan Gralla, MSc1 Jürgen Beck, MD3,4* Eike I
            Piechowiak, MD1*
            *contributed equally
        </p>
        <p>
            (1) University Institute of Diagnostic and Interventional Neuroradiology, University of Bern, Inselspital,
            Bern, Switzerland<br>
            (2) CTU Bern, and Institute of Social and Preventive Medicine (ISPM), University of Bern, Switzerland<br>
            (3) Department of Neurosurgery, University of Bern, Inselspital, Bern, Switzerland<br>
            (4) Department of Neurosurgery, Medical Center — University of Freiburg, Germany
        </p>
        <h3>Ciatation</h3>
        <p>
            Dobrocky T, Grunder L, Breiding PS, et al. Assessing Spinal Cerebrospinal Fluid Leaks in Spontaneous
            Intracranial Hypotension With a Scoring System Based on Brain Magnetic Resonance Imaging Findings. JAMA
            Neurol. Published online February 18, 2019. doi:10.1001/jamaneurol.2018.4921
        </p>
    </div>
</ion-content>