<ion-header>
    <ion-toolbar>
        <ion-title>
            How to measure
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padder="false">
    <ion-list>
        <ion-item on-click="goToAdDuralEnhancement()">
            Ad Dural Enhancement
            <ion-icon name="arrow-round-forward" item-right></ion-icon>
        </ion-item>
        <ion-item on-click="goToAdVenousEngorgement()">
            Ad Venous Engorgement
            <ion-icon name="arrow-round-forward" item-right></ion-icon>
        </ion-item>
        <ion-item>
            Ad Suprasellar Cistern
            <ion-icon name="arrow-round-forward" item-right></ion-icon>
        </ion-item>
        <ion-item>
            Ad Subdural Hygroma
            <ion-icon name="arrow-round-forward" item-right></ion-icon>
        </ion-item>
        <ion-item>
            Ad Prepontine Cistern
            <ion-icon name="arrow-round-forward" item-right></ion-icon>
        </ion-item>
        <ion-item>
            Ad Mamillopontine Distance
            <ion-icon name="arrow-round-forward" item-right></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>