<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            How to measure
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padder="false">
    <ion-list>
        <ion-list-header>
            <h3>Major criteria</h3>
        </ion-list-header>
        <ion-item [routerLink]="['/tabs/measure/p1']">
            Dural Enhancement
        </ion-item>
        <ion-item [routerLink]="['/tabs/measure/p2']">
            Venous Engorgement
        </ion-item>
        <ion-item [routerLink]="['/tabs/measure/p3']">
            Suprasellar Cistern
        </ion-item>
    </ion-list>
    <ion-list>
        <ion-list-header>
            <h3>
                Minor criteria
            </h3>
        </ion-list-header>
        <ion-item [routerLink]="['/tabs/measure/p4']">
            Subdural Hygroma
        </ion-item>
        <ion-item [routerLink]="['/tabs/measure/p5']">
            Prepontine Cistern
        </ion-item>
        <ion-item [routerLink]="['/tabs/measure/p6']">
            Mamillopontine Distance
        </ion-item>
    </ion-list>
</ion-content>