<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Terms of use
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding-horizontal">
        <h2>Exclusion of liability</h2>
        <p>
            <b>
                By using the application “SIH score” of the Insel Gruppe AG, Inselspital, University
                of Bern, the user accepts the following conditions and their binding effects.
            </b>
        </p>
        <p>
            This tool is meant to be used only by medical professionals to predict the likelihood of
            a spinal Cerebrospinal fluid (CSF) leak in patients with Spontaneous intracranial hypotension (SIH). Its
            clinical usefulness to influence medical decisions has not been tested. It is not intended as an action
            guideline for health experts or third parties.
            Insel Gruppe AG endeavors to ensure that the application functions correctly. However,
            the Insel Gruppe AG cannot guarantee accuracy or the uninterrupted functioning of the
            application. Neither the Insel Gruppe AG, nor other parties involved in the development of
            this application, carry a warranty for damages or injuries resulting from the use or
            impossibility of use of this application. The user accesses the contents at his/her own
            risk. After examination and consideration of the provided information, the user is
            obliged to act on these guidelines at his/her own responsibility.
        </p>
        <h2>Privacy Policy</h2>
        <p>
            We take the protection of your personal data very seriously. Following the principle 
            to limit the collection and use of personal data the SIH Score-App does not process
            (e.g. collect, use, share or store) such data.
        </p>
        <h2>Copyright</h2>
        <p>
            Permission to reproduce or adapt copyright-protected material (e.g. figures, or substantial
            portions of text) must be obtained from the copyright owner. For details see link
            below.
        </p>
        <p>
            <a href="https://jamanetwork.com/DocumentLibrary/InstructionsForAuthors/NEU/ThirdPartyPermission.pdf">https://jamanetwork.com/DocumentLibrary/InstructionsForAuthors/NEU/ThirdPartyPermission.pdf</a>
        </p>
        <p>
            The Inselspital logo that appears in the application is copyright-protected and may not be used in
            any way.
        </p>
    </div>
</ion-content>