<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Terms & Conditions
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding-horizontal">
        <p>
            <b>
                This tool is meant to be used only by medical professionals to predict the likelihood of a spinal
                Cerebrospinal
                fluid (CSF) leak in patients with Spontaneous intracranial hypotension (SIH). Its clinical usefulness to
                influence medical decisions has not been tested.
            </b>
        </p>
        <p>
            The full manuscript has been published in JAMA Neurology in February 2019. <br>
            doi: 10.1001/jamaneurol.2018.4921<br>
            PMID: 30776059
        </p>
        <h3>Authors</h3>
        <p>
            Tomas Dobrocky, MD1 Lorenz Grunder, MD1 Philipe S Breiding, MD1 Mattia Branca, MSc2 Andreas Limacher, PhD 2
            Pascal J Mosimann, MD1 Pasquale Mordasini, MSc1 Felix Zibold, MD1 Levin Haeni, MD3 Christopher M Jesse, MD3
            Christian Fung, MD3,4 Andreas Raabe, MD3 Christian T Ulrich, MD3 Jan Gralla, MSc1 Jürgen Beck, MD3,4* Eike I
            Piechowiak, MD1*
            *contributed equally
        </p>
        <p>
            (1) University Institute of Diagnostic and Interventional Neuroradiology, University of Bern, Inselspital,
            Bern, Switzerland<br>
            (2) CTU Bern, and Institute of Social and Preventive Medicine (ISPM), University of Bern, Switzerland<br>
            (3) Department of Neurosurgery, University of Bern, Inselspital, Bern, Switzerland<br>
            (4) Department of Neurosurgery, Medical Center — University of Freiburg, Germany
        </p>
        <h3>Ciatation</h3>
        <p>
            Dobrocky T, Grunder L, Breiding PS, et al. Assessing Spinal Cerebrospinal Fluid Leaks in Spontaneous
            Intracranial Hypotension With a Scoring System Based on Brain Magnetic Resonance Imaging Findings. JAMA
            Neurol. Published online February 18, 2019. doi:10.1001/jamaneurol.2018.4921
        </p>
    </div>
</ion-content>