<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/measure"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Subdural Hygroma
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true">
        <ion-slide>
            <img src="assets/figure4a.png" class="figure" />
        </ion-slide>
        <ion-slide>
            <img src="assets/figure4b.png" class="figure" />
        </ion-slide>
    </ion-slides>
    <div class="ion-padding">
        <p>
            Identification of subdural fluid collection(s) was assessed on transversal and coronal FLAIR images, on
            which maximal width was measured.
        </p>
    </div>
</ion-content>