<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/measure"></ion-back-button>
        </ion-buttons>
        <ion-title style="width: 390px">
            Mamillopontine Distance
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true">
        <ion-slide>
            <img src="assets/figure6a.png" class="figure" />
        </ion-slide>
        <ion-slide>
            <img src="assets/figure6b.jpg" class="figure" />
        </ion-slide>
    </ion-slides>
    <div class="ion-padding">
        <p>
            The mamillopontine distance was assessed on midsagittal images between the inferior border of the mammillary
            body and the upper surface of the pons.
        </p>
    </div>
</ion-content>