<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/measure"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Ad Prepontine Cistern
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img src="assets/figure5.png" class="figure" />
    <div class="ion-padding">
        <p>
            The prepontine cistern was assessed on midsagittal images measuring the distance between the anterior aspect
            of the midportion of the pons and the clivus.
        </p>
    </div>
</ion-content>